/Curso/AbrirArquivoESalvar/Win32
/Curso/AbrirArquivoTexto/Win32
/Curso/Calculadora/Win32
/Curso//Win32
/Curso/NumRandomicos/Win32
/Curso/Projeto01/Fonte/Win32
/Curso/Tabuada/Win32
/Curso/LinkInverter/Win32
/Curso/SimpleLogin/Win32
/Exercicio01/Win32
/Exercicio01/Win32
/Exercicio01/Win32
/ExercicioSlack/Exercicio01/Win32
/ExercicioSlack/Exercicio02/Win32
/ExercicioSlack/Exercicio03/Win32
/ExercicioSlack/Exercicio04/Win32
/ExercicioSlack/Exercicio05/Win32
